<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/styles/nord.min.css" />

    <link
      rel="stylesheet"
      href="/Components/Avatar_and_badges/avatar_badges.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- NAV -->

    <nav class="nav">
      <div class="left-nav">
        <a href="/index.html">Endless</a>
        <span>v1.0</span>
      </div>
      <div class="right-nav">
        <a href="">Docs</a>
        <a href="">Examples</a>
      </div>
    </nav>

    <!-- Side Bar -->
    <div class="side-bar">
      <div class="content-heading">
        <p>Get started</p>
      </div>
      <div class="sub-content">
        <ul class="item-list">
          <li>Introduction</li>
          <li>Colors</li>
          <li>Typography</li>
          <li>Conclusion</li>
        </ul>
      </div>
      <div class="content-heading">
        <p><b>Components</b></p>
      </div>
      <div class="sub-content">
        <ul class="item-list">
          <li>
            <a href="/Components/Avatar_and_badges/avatar_badges.html"></a>
            Avatar & Badges
          </li>
          <li>Colors</li>
          <li>Typography</li>
          <li>Conclusion</li>
          <li>Lorem</li>
          <li>Ipsum</li>
          <li>Lorem</li>
          <li>Ipsem</li>
        </ul>
      </div>
    </div>
    <!-- Main Content  -->

    <div class="content-bar">
      <div class="content-title">Avatar</div>
      <div class="content-subtitle">
        Avatars are user profile pictures, usually found in circular shapes.
        Avatars can be used for 'container' objects — projects, spaces,
        repositories, etcetera — to give them a recognisable visual identity.
      </div>

      <div class="content-title">Profile Avatar</div>
      <div class="content-subtitle">
        Profile Avatars can be created using the class 'avatar', inside the img
        tag.
      </div>

      <pre>
        <code class="plaintext">
    <-- Using the 'avatar' class name -->

    &lt;img class="avatar" src="attach desired image" alt="avatar1"&gt;
    &lt;img class="avatar" src="attach desired image"&gt;
        </code>
      </pre>
      <div class="content-example">
        <img class="avatar" src="/Images/avatar.png" alt="Avatar" />

        <img class="avatar" src="/Images/avatar_female.png" alt="Avatar" />

        <img class="avatar" src="/Images/avatar3.png" alt="Avatar" />
      </div>
      <div class="content-title">Sizes Avatar</div>
      <div class="content-subtitle">
        Size of the avatars can be changed by adding sm | md | lg class to the
        existing avatar class.
      </div>
      <pre>
        <code class="plaintext">
    <-- Using the 'avatar' class name -->

    &lt;img class="avatar sm" src="attach desired image"&gt;
    &lt;img class="avatar md" src="attach desired image"&gt;
    &lt;img class="avatar lg" src="attach desired image"&gt;
        </code>
      </pre>

      <div class="content-example">
        <img class="avatar sm" src="/Images/avatar.png" alt="Avatar" />

        <img class="avatar md" src="/Images/avatar_female.png" alt="Avatar" />

        <img class="avatar lg" src="/Images/avatar3.png" alt="Avatar" />
      </div>
      <div class="content-title">Square Avatar</div>
      <div class="content-subtitle">
        We can build a square shaped avatar as well by adding 'square' class
        along with the desired size i.e sm | md | lg class.
      </div>
      <pre>
        <code class="plaintext">
    <-- Using the 'avatar' class name -->

    &lt;img class="avatar square sm" src="attach desired image"&gt;
    &lt;img class="avatar square md" src="attach desired image"&gt;
    &lt;img class="avatar square lg" src="attach desired image"&gt;
        </code>
      </pre>
      <div class="content-example">
        <img
          class="avatar square sm"
          src="/Images/square_img.jpg"
          alt="Avatar"
        />

        <img
          class="avatar square md"
          src="/Images/square_img2.jpg"
          alt="Avatar"
        />

        <img
          class="avatar square lg"
          src="/Images/square_img3.jpg"
          alt="Avatar"
        />
      </div>
      <div class="content-title">Badges</div>
      <div class="content-subtitle">
        Badges are small circles, positioned either at top-right, top-left or
        bottom-right of the parent component. Badge can be used to display
        numbers, online / offline status, depending on where they are used.
      </div>
      <div class="content-title">Text with a Badge</div>
      <div class="content-subtitle"></div>

      <pre>
        <code class="plaintext">
    <-- Text with a badge -->

    &lt;div class="bage_text" &gt &lt;p&gt;Text with a badge &lt;/p&gt; /&gt; 
    &lt;div class="badge_icon" &gt; &lt;span&gt; 2 &lt;/span&gt; /&gt;

    <-- Text with a large badge -->

    &lt;div class="bage_text" &gt &lt;p&gt;Text with a large badge &lt;/p&gt; /&gt; 
    &lt;div class="badge_icon2" &gt; &lt;span&gt; 2 &lt;/span&gt; /&gt;
        </code>
      </pre>

      <div class="content-example">
        <div class="badges">
          <div class="badge_text">
            <p>Text with a badge</p>
            <div class="badge_icon icon1">
              <span>2</span>
            </div>
          </div>
          
          <div class="badge_text">
            <p>Text with a large badge</p>
            <div class="badge_icon icon2">
              <span>2</span>
            </div>
          </div>
          
        </div>
      </div>

      <div class="content-title">Button with a Badge</div>
      <div class="content-subtitle"></div>


    </div>
  </body>
  <script src="/highlight.js"></script>
  <script>
    hljs.highlightAll();
  </script>
</html>
